@import "../../core.less";

.OperaParisTagListWhiteRenderer_wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../static/images/OperaDeParisBackground_black.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .OperaParisTagListWhiteRenderer_title {
    position: fixed;
    right: 50%;
    top: -15px;
    margin-right: -720px;
    
    .OperaParisTagListWhiteRenderer_title_text {
      float: left;
      font-weight: bold;
      font-size: 45px;
      color: black;
      margin-top: 50px;
    }

    .OperaParisTagListWhiteRenderer_title_twitter_logo {
      float: left;
      width: 150px;
      height: 150px;
      background-image: url("../static/images/Twitter_logo_black.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }

  .OperaParisTagListWhiteRenderer_mainzone {
    width: 100%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
  }

}