.OperaParisCounterDarkRenderer_counter {
  overflow: hidden;
  height: 200px;
  line-height: 200px;
  width: 50%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -100px;
}

.OperaParisCounterDarkRenderer_digitList {
  float: left;
  width: 19%;
  list-style: none;
  font-size: 200px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.OperaParisCounterDarkRenderer_digitList_inter {
  width: 3px;
  background-color: black;
  height: 160px;
  float: left;
  margin-top: 20px;
}