.TweetHalfPictureHalfUserRenderer_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  .TweetHalfPictureHalfUserRenderer_twitter_logo_container {
    position: absolute;
    top: 3%;
    right: -10px;
    width: 30px;
    height: 30px;

    .TweetHalfPictureHalfUserRenderer_twitter_logo_shadow {
      background-color: grey;
      width: 10px;
      height: 10px;
      bottom: 0px;
      transform: scale(1.0) scaleZ(1.0) rotateZ(-30deg);
      transform-origin: 100% 100%;
      position: absolute;
      right: 0px;
    }

    .TweetHalfPictureHalfUserRenderer_twitter_logo_color {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #55ACEE;
    }

    .TweetHalfPictureHalfUserRenderer_twitter_logo {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: url("../images/Twitter_logo_white.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }

  .TweetHalfPictureHalfUserRenderer_top {
    width: 100%;
    height: 50%;

    .TweetHalfPictureHalfUserRenderer_wrapperbackground {
      width: 100%;
      height: 100%;
      opacity: 1;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .TweetHalfPictureHalfUserRenderer_content {
      padding: 4%;
      height: 100%;
      width: 100%;
      color: black;

      .TweetHalfPictureHalfUserRenderer_content_wrapper {
        height: 80%;
        width: 100%;
        font-family: sans-serif;
        font-size: 1.2em;
      }

      .TweetHalfPictureHalfUserRenderer_footer {
        height: 20%;
        width: 100%;
        font-weight: bold;

        .TweetHalfPictureHalfUserRenderer_create_date {
          float: left;
          color: rgb(109, 109, 109);
        }

        .TweetHalfPictureHalfUserRenderer_favorite_count {
          float: right;
          margin-left: 10px;
        }

        .TweetHalfPictureHalfUserRenderer_retweet_count {
          float: right;
        }
      }
    }

  }

  .TweetHalfPictureHalfUserRenderer_bottom {
    width: 100%;
    height: 50%;
    border-top: 1px lightgrey solid;

    .TweetHalfPictureHalfUserRenderer_profil_picture {
      float: left;
      height: 100%;
      width: 25%;
      padding: 3%;
      display: block;
      text-align: center;

      img {
        height: 100%;
      }
    }

    .TweetHalfPictureHalfUserRenderer_bottom_content {
      float: left;
      height: 100%;
      width: 75%;
      padding: 3%;

      .TweetHalfPictureHalfUserRenderer_profil_info {
        height: 100%;
        width: 100%;
        font-size: 1.2em;

        .TweetHalfPictureHalfUserRenderer_profil_realname {
          font-weight: bold;
          font-size: 1.3em;
        }

        .TweetHalfPictureHalfUserRenderer_profil_username::before {
          content: "@";
        }

        .TweetHalfPictureHalfUserRenderer_profil_username {
          color: #55ACEE;
        }
      }

      .TweetHalfPictureHalfUserRenderer_content {
        height: 100%;
        width: 100%;
        color: black;

        .TweetHalfPictureHalfUserRenderer_header {
          height: 20%;
          width: 100%;
          font-size: 0.8em;

          .TweetHalfPictureHalfUserRenderer_profil_info {
            height: 100%;
            width: 100%;
            font-size: 1em;

            .TweetHalfPictureHalfUserRenderer_profil_realname {
              float: left;
              font-weight: bold;
            }

            .TweetHalfPictureHalfUserRenderer_profil_username::before {
              content: "@";
            }

            .TweetHalfPictureHalfUserRenderer_profil_username {
              color: #55ACEE;
              float: left;
              margin-left: 3%;
            }
          }
        }

        .TweetHalfPictureHalfUserRenderer_content_wrapper {
          height: 58%;
          width: 100%;
          font-family: sans-serif;
          font-size: 0.8em;
          margin-top: 1%;
          margin-bottom: 2%;
          padding: 2%;
        }

        .TweetHalfPictureHalfUserRenderer_footer {
          height: 20%;
          width: 100%;
          font-weight: bold;
          font-size: 0.7em;

          .TweetHalfPictureHalfUserRenderer_create_date {
            float: left;
            color: rgb(109, 109, 109);
          }

          .TweetHalfPictureHalfUserRenderer_favorite_count {
            float: right;
            margin-left: 10px;
          }

          .TweetHalfPictureHalfUserRenderer_retweet_count {
            float: right;
          }
        }
      }
    }
  }

  .TweetHalfPictureHalfUserRenderer_top_with_image {
    height: 60%;
  }

  .TweetHalfPictureHalfUserRenderer_bottom_with_image {
    height: 40%;
  }
}