@import "../../../core.less";

.PhotoWallPictureAlbumRenderer_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .PhotoWallPictureAlbumRenderer_album_title {
    position: relative;
    width: 100%;
    height: 20%;
    overflow: hidden;
    text-align: center;

    span {
      font-family: 'Roboto', "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    }
  }

  .PhotoWallPictureAlbumRenderer_album {
    position: relative;
    width: 100%;
    height: 80%;
    overflow: hidden;
    background-color: white;

    .PhotoWallPictureAlbumRenderer_picture {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      float: left;
      width: 50%;
      height: 50%;
    }

    /* clearfix */
    :after {
      content: '';
      display: block;
      clear: both;
    }
  }
}