#wrapper {
  background-attachment: fixed;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zone {
  overflow: hidden;
}