@import "../../core.less";

.eventRenderer_title {
  text-align: center;
  width: 100%;
}

.eventRenderer_description {
  border: 1px solid black;
  margin: auto;
  padding: 10px;
}

.eventRenderer_started {
  color: red;
}

.eventRenderer_debutDiv {

}

.eventRenderer_debutText {

}

.eventRenderer_debutHour {

}

.eventRenderer_finDiv {

}
.eventRenderer_finText {

}
.eventRenderer_finHour {

}
.eventRenderer_locationDiv {
  padding-right: 1em;
}
.eventRenderer_locationText {

}