@import "../../core.less";

.VideoPlaylistDescriptionRenderer_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
}