@import "../../core.less";

.photobox_divcam {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
#webcamView {
  width: 100%;
  height: 100%;
}
.photobox_divcounter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  color: red;
  margin: auto;
  z-index: 10;
}

.photobox_webcamImage {
  height: 100%;
  width: 100%;
}

.photobox_mainDiv {
  height: 100%;
  width: 100%;
}

.photobox_lastpic {
  display: block;
  width: 50%;
  height: 50%;
}

.PhotoboxRenderer_shutter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border: 1px solid red;
  background-color: rgba(0, 0, 0, 0.5);
}