@import "../../core.less";

.SideBySideTweetRenderer_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  .SideBySideTweetRenderer_profil {
    width: 20%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;


    .SideBySideTweetRenderer_profil_picture {
      width: 100%;
      height: 60%;
      border-radius: 100%;
      text-align: center;

      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 100%;
      }
    }

    .SideBySideTweetRenderer_profil_realname {
      width: 100%;
      height: 17%;
      font-weight: bold;
      text-align: center;
    }

    .SideBySideTweetRenderer_profil_username > span::before {
      content: "@";
    }

    .SideBySideTweetRenderer_profil_username {
      width: 100%;
      height: 13%;
      text-align: center;
    }
  }

  .SideBySideTweetRenderer_content {
    width: 78%;
    height: 100%;
    border-left: 5px solid;
    margin-left: 1%;

    .SideBySideTweetRenderer_content_arrow {
      position: absolute;
      top: 50%;
      margin-left: -21px;
    }

    .SideBySideTweetRenderer_content_message {
      width: 100%;
      height: 100%;
      line-height: initial;

      .SideBySideTweetRenderer_content_message_header {
        width: 96%;
        height: 12%;
        margin-left: auto;
        margin-right: auto;
        text-align: right;
      }

      .SideBySideTweetRenderer_content_message_main {
        width: 90%;
        height: 74%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        margin-bottom: 1%;
        position: relative;
        text-align: justify;
        font-family: 'Roboto', sans-serif;

        span::before {
          content: "\00ab";
          transform: rotate(30deg);
          position: absolute;
          top: -40px;
          left: -25px;
          font-size: 1.5em;
        }

        span::after {
          content: "\00bb";
          transform: rotate(27deg);
          position: absolute;
          bottom: -32px;
          right: -42px;
          font-size: 1.5em;
        }
      }

      .SideBySideTweetRenderer_content_message_footer {
        width: 96%;
        height: 10%;
        margin-left: auto;
        margin-right: auto;

        .SideBySideTweetRenderer_content_message_footer_favorite {

          .badge {
            background-color: transparent;
          }
        }

        .SideBySideTweetRenderer_content_message_footer_retweet {

          .badge {
            background-color: transparent;
          }
        }
      }
    }

    .SideBySideTweetRenderer_content_picture {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}